
#top{
	background-color:#1B1E20;
	width:auto;
	height:450px;
	overflow-x:visible;	
}

#bottom{
	background-color:#212427;
	width:auto;
	height:300px;
	overflow-x:visible;
	text-align:center
}

#image_jumelle{
	padding-top:5%;
}

#titleSelection{
	padding-top:2%;
	margin-top: 0%;
	font-size: 20px;
}

.pos_inline{
	position:relative;
	bottom:-50px;
}


h1.pos_right{
	position:relative;
	right:-900px;
	bottom:-100px;
}
img{
	max-width:400px;
	_width:expression(this.width > 400? "400px":this.width);
	
}
img.pos_right{
	position:relative;
	right:-500px;
	bottom:-400px;
}
h2{
	text-align:center;
	font-size:20px;
	color:#FFFFFF
}
h3{
	text-align:center;
	font-size:20px;
}


select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #000;

  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;


  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
}
#inline{margin:0 8px} 

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }

button {
	      
	margin: 10px;
    background-color: #F9345E; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

button.pos_bottom{
	position:relative;
	bottom:-100px;
	right:350px;

}

label {
	color: #FFFFFF; /* makes the text-black */
}

.select{
      display: inline-block;
    }
 select{
      padding: 5px 10px;
      background: transparent;
      color: #F9345E;
      font-size: 24px;
      border: none;
      border-bottom: 1px dashed #fff;
      appearance: none; 
      -moz-appearance: none; 
      -webkit-appearance: none; 
      -ms-appearance: none;
	  background: url("arrow.png" ) 
	  no-repeat scroll right center transparent;
	  background-size:15px,15px;
	  padding-right: 20px;
    }
.option {
 background-color:#FFFFFF;
 color#2121427;
}


 
}
