
$black: #0f1c34;
$grey-light: #eee;
$white: #fff;
$red: #f32;
$yellow: #ff0;
$green: #4caf50;
$grey: #666;

$white2: #eee;
$white3: #ccc;

$background-block: rgba(255, 255, 255, .15);
$background-block-strong: rgba(255, 255, 255, .6);

$color1: #f2b7a5;
$color2: #c686ef;
$color3: #a5ffb7;
$color4: #ffe8a9;
$color5: #9bbdff;
$color6: #f7bfe3;
$color7: #4ce5d6;
$color8: #192d51;

$listeexg:   #430201;
$listepc:    #e90f00;
$listefg:    #b10800;
$listepg:    #be0a00;
$listeps:    #e80b56;
$listeug:    #e13545;
$listedvg:   #da4968;
$listeeelv:  #3f8b22;
$listemodem: #eb6300;
$listeuc:    #9bdaf9;
$listeudi:   #82cbec;
$listedvd:   #4e8dd8;
$listeud:    #3d6cc3;
$listeump:   #2552a5;
$listefn:    #49008e;
$listeexd:   #39006f;
$listediv:   #ddd;
$listese:    #888;
