/*general*/

* {
	margin:0;
	padding:0;
	border:0;
}

body {
	height:100%;
	background-color:rgb(47, 50, 64);
}

body header{
	background-color:rgba(0,0,0,.2);
	width:10%;
	height:100vh;
	position:fixed;
	top:0;
	left:0;
}

main {
	display:flex;
	height:90vh;
	margin-left:10%;
}

main section {
	flex-grow:2;
	flex-basis:50%;
	min-width:30%;
}

/*choix_candidats*/

body header nav {
	width:70%;
	margin:80% auto;
	height:60%;
}

body header nav .candidat {
	height:3em;
	width:3em;
	border-radius:100%;
	margin:2em auto;
	border:2px transparent solid;
}

.candidat.selected {
	border:2px white solid;
}

#fillon {
	background-color:red;
}

#macron {
	background-color:green;
}

#lepen {
	background-color:blue;
}

#melanchon {
	background-color:grey;
}

#hamon {
	background-color:pink;
}

/*hover_candidats*/

#fillon:hover {
	background-color:white;
}

#macron:hover {
	background-color:white;
}

#lepen:hover {
	background-color:white;
}

#melanchon:hover {
	background-color:white;
}

#hamon:hover {
	background-color:white;
}

#fillon:hover, #macron:hover, #lepen:hover, #melanchon:hover, #hamon:hover {
	cursor:pointer;
	border:2px red solid;
}

/*carte*/
#carteContainer {
	min-width:40%;
	max-width:40%;
	border-right:1px rgba(0,0,0,.1) solid;
}


#carte {
	width:85%;
	margin:4em 2em;
}

/*regions*/

.cls-2 {
	fill:white;
}

.region.macron {
	fill:green;
}

.region.lepen {
	fill:blue;
}

.region.fillon {
	fill:red;
}

.region.hamon {
	fill:pink;
}

.region.melanchon {
	fill:grey;
}

/*les_datavis*/
#datavis {
	min-width:50%;
	display:vertical-flex;
}

#datavis article {
	flex-grow:1;
	width:100%;
	min-height:30vh;
	background-color:rgba(255,255,255,.1);
}

#datavis article .title {
	height:8vh;
	width:100%;
	background-color:rgba(0,0,0,.2);
}

/*footer*/

footer {
	position:fixed;
	height:20vh;
	width:100%;
	bottom:0;
	left:0;
	background-color:rgba(0,0,0,.9);
}

/*timeline*/
input[type=range] {
	width:100%;
	-webkit-appearance: none;
	background-color:rgba(255,255,255,.0);
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height:20%;
  margin:auto;
  cursor: pointer;
  animate: 0.2s;
  background: white;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius:100%;
  background: rgba(255,0,0,.9);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}

/*velo*/

footer .ville {
	background-image:url(PNG/ville.png);
	background-size:contain;
	width:100%;
	height:13vh;
	position:relative;
	bottom:-3vh;
	background-color:rgba(0,0,0,.2);
}

footer .ville #velo {
	width:5em;
	height:80%;
	position:absolute;
	bottom:10%;
	left:0;
	background-image:url(PNG/velo.png);
	background-size:cover;
	background-repeat:no-repeat;
	animation: /*veloavance 10s ease-in-out,*/
	velopedale 1s infinite;
}

/*animations*/
@keyframes veloavance{
		0%{left:0;}
		100%{left:100%;}
	}

	@keyframes velopedale {
		0%{background-position:9px 0px;}
		24%{background-position:9px 0px;}
		25%{background-position:-109px 0px;}
		49%{background-position:-109px 0px;}
		50%{background-position:-225px 0px;}
		74%{background-position:-225px 0px;}
		75%{background-position:-109px 0px;}
		100%{background-position:-109px 0px;}
	}