
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    
}
/*****************************MAPS*********************************/

html, body {
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    font-family: lato;
}

.screen {
    width: 100%;
    height: 100vh;
}



/**************************************MAPS***********************************************/


@import "bourbon";

// variables - colors

$main-text: #2d313f; // main text
$link: #d36868; // anchor tags
$background: #e7eaf0; // body background color

$color-1: #2d313f; // blue
$color-2: #d36868; // red
$color-3: #ffffff; // white

// variables - fonts 

$primary-font: 'Lora', serif;


@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// layout - breakpoints
  
$S:     320px;   
$M:     768px;     
$L:     1170px;         

// layout - media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

/* -------------------------------- 

Primary style

-------------------------------- */

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    @include box-sizing(border-box);
}

body {
    font: {
        size: 100%;
        family: $primary-font; // variables inside partials > _variables.scss
    }
    color: $main-text;
    background-color: $background;
}

/* -------------------------------- 

Main components 

-------------------------------- */

#google-container {
    position: relative;
    margin-top: 0px;
    width: 100%;
    height: 90vh;
    background-color: $background;

    @include MQ(M) {
        height: 300px;
    }

    @include MQ(L) {
        height: 600px;
    }
}

#cd-google-map {
    position: relative;

    address {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 1em 1em;
        background-color: rgba($color-2, .9);
        color: $color-3;
        @include font-size(13px);

        @include MQ(M) {
            @include font-size(15px);
            text-align: center;
        }
    }
}

#cd-zoom-in, #cd-zoom-out {
    display: none;
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin-left: 10px;
    background-color: rgba($color-2, .9);
    background-repeat: no-repeat;
    background-size: 32px 64px;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-controller.svg');

    .no-touch &:hover {
        background-color: rgba($color-2, 1);
    }

    @include MQ(M) {
        margin-left: 50px;
    }
}

#cd-zoom-in {
    background-position: 50% 0;
    margin-top: 10px;
    margin-bottom: 1px;

    @include MQ(M) {
        margin-top: 50px;
    }
}

#cd-zoom-out {
    background-position: 50% -32px;
}

/****************************STYLE*******************************/

.legende {
    position: fixed;
    left: 0;
    width: 200px;
    height: 50px;
    z-index: 2;
    background-color: #FFF;
    transition: all 1s ease;
}


@keyframes key03 {
    0%{transform:  translateX(-500px); opacity: 0;}
    100%{transform: translateX(0); opacity: 1;}
}

@keyframes key04 {
    0%{transform:  translateX(35px); opacity: 0;}
    100%{transform: translateX(35px); opacity: 1;}
}

@keyframes key05 {
    0%{transform:  translateX(35px); opacity: 0;}
    100%{transform: translateX(85px); opacity: 1;}
}

.legende h2 {
    float: left;
    padding: 15px;
    margin-left: 10px;
    color: #478CF4;
    font-size: 20px;
}

#open {
    display: block;
    width: 30px;
    margin-top: 10px;
    animation: key04 0.5s ease-in-out 0.4s both;
}

#close {
    display: none;
    width: 30px;
    margin-top: 10px;
    animation: key05 0.5s ease-in-out 0.4s both;
}

.legende h5 {
    display: none;
    float: left;
    margin-left: 20px;
    margin-top: 25px;
    width: 200px;
    color: #787878;
    animation: key03 0.7s ease-in-out 0.4s both;
}

.leg-block {
    display: none;
    float: left;
    width: 250px;
    margin-top: 20px;
    font-size: 14px;
    margin-left: 20px;
    animation: key03 0.7s ease-in-out 0.4s both;
}

.leg-col01, .leg-col02, .leg-col03, .leg-col04, .leg-col05 {
    display: inline-block;
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.leg-col01 {
    background-color: #e23a51;
}

.leg-col02 {
    background-color: #fed532;
}

.leg-col03 {
    background-color: #fb9d2e;
}

.leg-col04 {
    background-color: #abdd63;
}

.legende h6 {
    display: inline-block;
    float: left;
    margin-top: 12px;
    margin-left: 15px;
    color: #787878;
}

.leg-block img {
    width: 40px;
    float: left;
    margin-top: 5px;
}

.txt-office {
    width: 150px;
}

section {
    position: fixed;
    z-index: 2;
    height: 100vh;
    background-color: #FFF;
    width: 45%;
    right: 0;
}

.fermer {
    width: 50px;
    position: absolute;
    left: -25px;
    top : 300px;
    height: 50px;
}

#google-container {
    transition-delay: 1s;
}

.POI {
    display: none;
    animation: key01 0.5s ease-in-out 0.4s both;
}



@keyframes key01 {
    0%{transform: translateX(45%); opacity: 0;}
    100%{transform: translateX(0); opacity: 1;}
}

@keyframes key02 {
    0%{transform: translateY(45%); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}

.data-container {
    height: 60vh;
}

.other {
    display: none;
    text-align: center;
    position: fixed;
    right: 0;
    z-index: 5;
    width: 45%;
    bottom: 100px;
    animation: key01 0.5s ease-in-out 0.4s both;
}

.other h1{
    font-weight: 600;
    color: #787878;
    text-align: left;
    margin-left: 50px;
}

.other p {
    float: left;
    width: 300px;
    margin-top: 50px;
    text-align: left;
    margin-left: 50px;
}

.other p input {
    float: right;
    margin: 0;
    cursor: pointer;
}


/************************************************************************/
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  display: none;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 250px; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .1em; left: 255px;
  font-size: 1.3em;
  line-height: 0.8;
  color: #478CF4;
  transition: all .2s;
}


[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}


[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}

/************************************************************************/


.other button {
    float: right;
    margin-right: 100px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    color: #FFF;
    border: none;
    font-size: 15px;
    background-color: #478CF4;
}

footer {
    position: fixed;
    width: 100%;
    height: 10vh;
    bottom: 0;
    z-index: 3;
    background-color: #FFF;
    text-align: center;
}

footer div {
    display: inline-block;
    margin: 5px;
    margin-top: 25px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px #787878 solid;
}

.done {
    background-color: #478CF4;
    border: none;
}

#content {
   width: 200px;
}

#content h1 {
    color: #787878;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
}


#content form select {
    width: 120px;
    background-color: #478CF4;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #FFF;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
}

#firstHeading {
    color: #787878;
    font-weight: 600;
}

#bodyContent {
    font-size: 14px;
    margin-top: 5px;
    color: #787878;
}




/*
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 1190px;
  margin-top: 50px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}*/